<% if current_group %>
  <h1>Add Roommates</h1>

  <%= form_for @friend, url: {action: "add_user_create"} do |f| %>  
    <% if @friend.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @group.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
     <div class="field">
      <%= f.label :email, "Type in your roommate's email to add them to #{current_group.groupname.to_s}" %>  
      <%= f.text_field :email %>
    <div> 

    <div class="actions"><%= f.submit(:class => 'btn btn-primary', :value => 'Add Roommate') %></div>
  <% end %>
<% else %>
  <h1> You need to be in a group to invite friends </h1>
<% end %>
