<% content_for :title do current_group.groupname.to_s end %>

<div class="well">
<h1>Members in <%= current_group.groupname %></h1>
<p><a href="/groups/add_user">Click here to add another roommate!</a></p>
<font color='red'><%= link_to 'Leave this group', "/groups/leave", :method => :post %></font>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
      
       <!-- List Members --> 
      <% @group_members.each do |user| %>
        <tr>
        <td>
  <% if user.name %>
  	<%= user.name%>
  <% else %>
  	<i><%= user.email%> (pending)</i>
  <% end %></td>
            <td>
              <% if user %>
              <a href="mailto:<%=user.email.to_s%>"><i class="icon-envelope"></i></a>
              <% end %>
          </td>
        </tr>
<% end %>

      </tbody>
    </table>
</div>