<% content_for :title do current_group.groupname.to_s end %>
<div class="container">
  <div class="row-fluid">
    <div id="left" class="span3 well">
      <h1>Members</h1>
      <p><a href="/groups/add_user">Click here to add another roommate!</a></p>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th style="width: 36px;"></th>
              </tr>
            </thead>
            <tbody>
            
             <!-- List Members --> 
            <% @group_members.each do |user| %>
              <tr>
                  <td>
                    <% if user.name %>
                      <%= user.name%>
                    <% else %>
                      <i><%= user.email%> (pending)</i>
                    <% end %>
                  </td>
                  <td>
                    <% if user %>
                    <a href="mailto:<%=user.email.to_s%>"><i class="icon-envelope"></i></a>
                    <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
      </div>
      <div id="right" class="span9 well">
      <h1>Welcome to <%= current_group.groupname %>!</h1>
      <% if @upcoming_bills.length > 0 %>
        The Following Bills are coming up:<br>
        <ul>
        <% @upcoming_bills.each do  |bill| %>
          <li><%= bill.name %></li><br>
        <% end %></ul>
      <% else %>
        No bills coming up!<br>
      <% end %>
      <% if @upcoming_chores.length > 0 %>
        <br>The Following Chores are coming up:<br>
        <ul>
        <% @upcoming_chores.each do  |chore| %>
          <li><%= chore.name %></li><br>
        <% end %></ul>
      <% else %>
        No chores coming up!<br>
      <% end %>
      </div>
    </div>
  </div>
</div>