<% content_for :title do "Account Settings" end %>
<% if current_user %>
<div class="container">
    <div class="span4 offset4 well ">
    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
        <h1 align="center">Whoops...</h1>
        <div class="error_messages">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
          </div>
          <% else %>
        <h1 align="center" style="font-size: 36px">Account Settings</h1>
        <% end %>
        <div class="field"> 
          <%= f.label :email %>
          <%= f.text_field :email, :class => 'span12' %> 
        </div>
        <div class="field"> 
          <%= f.label :name %>
          <%= f.text_field :name, :class => 'span12' %>
        </div>
        <div class="field"> 
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'New Password', :class => 'span12' %>
        </div>
        <div class="field"> 
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: 'Retype New Password', :class => 'span12' %>
        </div><br>
        <div class="actions" align="center"><%= f.submit(:class => 'btn btn-primary', :value => 'Save Changes') %>
           
        <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">Delete Account</a>
</div>
    <% end %>
       
<!-- Button to trigger modal -->
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Are You Sure?</h3>
  </div>
  <div class="modal-body">
    <p>Deleting your account will remove you from any group you are in as well as from our site forever.  This action can not be undone...<br> Don't worry! If you ever change your mind, you can always sign up with Domatio again!</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Nevermind! I want to keep my account.</button>
    <%= link_to 'I am sure, delete my account', "/users/destroy/#{current_user.id}", :method => :delete, :class => 'btn btn-danger' %>
  </div>
</div>

<% end %>
