<% if current_user %>
  <h1>You are already logged in!</h1>
<% else %>
<% content_for :title do "Sign Up" end %>
<div class="span4 offset4"> 
  <div class="hero-unit">
    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
        <h1 align="center">Whoops...</h1>
        <div class="error_messages">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
          </div>
          <% else %>
        <h1 align="center">Sign Up!</h1>
        <% end %>
        <br>
          <%= f.text_field :email, placeholder: 'Email', class: 'input-block-level'%> 
          <%= f.text_field :name, placeholder: 'Name', class: 'input-block-level' %>
          <%= f.password_field :password, placeholder: 'Password', class: 'input-block-level'%>
          <%= f.password_field :password_confirmation, placeholder: 'Retype Password', class: 'input-block-level'%>
        <div class="actions"><%= f.submit(:class => 'btn btn-info btn-block', :value => 'Sign Up!') %></div>
    <% end %>
  </div>
</div>

<% end %>

