<% if current_user %>
  <h1>You are already logged in!</h1>
<% else %>
<div class="span6 offset8">
  <h1>Sign Up</h1>

  Or <a href="/sessions/new">Log in!</a><br><br>

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
     <div class="field">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    <div> 
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %>
      <p>
    </div>
    <div class="actions"><%= f.submit(:class => 'btn btn-primary') %></div>
  <% end %>
<% end %>
</div>