<% content_for :title do @discussion.title.to_s end %>
<div class="hero-unit" style="padding:30px">
<div class="page-header">
    <div style="float: right">
        <a class="btn" href="/discussion_message/new/<%= @discussion.id %>"><i class="icon-plus"></i>&nbsp;New</a>
    </div>
    <h1 style="font-size:36px;"><%= @discussion.title %> - <%= @discussion.messages_count %> Replies</h1>
    <% if current_user.id == @discussion.user.id %>
        <small><a href="/discussion/destroy/<%= @discussion.id %>">(Delete)</a></small>
    <% end %>
</div>

<% @discussion.discussion_messages.each do |d| %>

    <div class="well well-lg">
      <%= d.content %><br />
      created by <%= d.user.name %> at <%= d.created_at %>

      <% if current_user.id == d.user.id %>
          <small><a href="/discussion_message/destroy/<%= d.id %>">(Delete)</a></small>
      <% end %>

    </div>

<% end %>

<%= form_for :discussion_message, :url => url_for(:controller => 'discussion_message', :action => 'create_inline', :discussion_id => @discussion.id) do |f| %>
    <% if @discussion_message.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @discussion_message.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.text_area :content, :cols => 0, :rows => 0, :width => 1200, :class => 'span12', :placeholder => "Enter Your Message Here" %>
    </div>
    <div class="actions">
      <%= f.submit(:class => 'btn btn-primary', :value => Discussion.find(params[:id]).messages_count ? 'Reply' : 'Create' ) %>
    </div>
<% end %>
</div>