<div class="page-header">
    <div style="float: right">
        <a class="btn" href="/discussion_message/new/<%= @discussion.id %>"><i class="icon-plus"></i>&nbsp;New</a>
    </div>
    <h1><%= @discussion.title %></h1>
</div>

<% @discussion.discussion_messages.each do |d| %>

    <div class="well well-lg">
      <a href="/discussion/<%= d.id %>"><%= d.title %></a><br />
      created by <%= d.user.name %> at <%= d.created_at %>

    </div>

<% end %>