<div class="page-header">
    <div style="float: right">
        <a class="btn" href="/discussion_message/new/<%= @discussion.id %>"><i class="icon-plus"></i>&nbsp;New</a>
    </div>
    <h1><%= @discussion.title %> - <%= @discussion.messages_count %> Replies</h1>
</div>

<% @discussion.discussion_messages.each do |d| %>

    <div class="well well-lg">
      <%= d.content %><br />
      created by <%= d.user.name %> at <%= d.created_at %>

    </div>

<% end %>

<%= form_for :discussion_message, :url => url_for(:controller => 'discussion_message', :action => 'create_inline', :discussion_id => @discussion.id) do |f| %>
    <% if @discussion_message.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @discussion_message.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.text_area :content %>
    </div>
    <div class="actions"><%= f.submit(:class => 'btn btn-primary', :value => 'Create') %></div>
<% end %>