<h1>Create a Bill</h1>
<% @dontshowbackground = true %>
<%= form_for @bill, url: {action: "create"} do |f| %>
  <% if @bill.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @bill.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, "Bill Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price, "Amount Due" %>
    <%= f.text_field :price, :id => "userinput", :pattern => "[0-9]*.[0-9][0-9]"%>
  <div> 
    <script src="http://seiyria.github.io/bootstrap-slider/javascripts/bootstrap-slider.js"></script>

  <% @users.each do |user| %>
    <div class="field">
      This is a slider for <%= user.name %>:<br>
      <input id="ex<%= user.id %>" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="<%= 100/@users.length %>"/>
      <br>
      <span id="ex<%= user.id %>CurrentSliderValLabel"><span id="ex<%= user.id %>SliderVal"><%= 100/@users.length %></span></span>%
      <script>
$("#ex<%= user.id %>").slider();
      $("#ex<%= user.id %>").on('slide', function(slideEvt) {
        $("#ex<%= user.id %>SliderVal").text(slideEvt.value);
      });
</script>
    </div>
  <%end%>
  <div class="field">
    <%= f.label :duedate, "Due Date" %>
    <%= f.text_field :duedate, :id => "datepicker", :readonly=> "0" %>
  <div> 
  <div class="field">
    <%= check_box_tag :recurring, 1, params[:recurring] %>
    <%= label_tag :recurring, "Recurring?", :class => "checkbox inline" %>
  </div>
  <br>
  <div class="actions"><%= f.submit(:class => 'btn btn-primary', :value => 'Create Bill') %></div>
<% end %>

<!-- The following is the datepicker code -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
  $(document).ready(function() {
    $(function() {
      $( "#datepicker" ).datepicker( { minDate: 0, maxDate: "+3M" });
      $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    });
  });
</script>
<style>
div.ui-datepicker{
 font-size:12.5px;
}
</style>

<!--The following is the code for the Amount Due box -->
<script type="text/javascript">
  document.getElementById("userinput").onblur =function (){    

    //number-format the user input
    this.value = parseFloat(this.value.replace(/,/g, ""))
                    .toFixed(2)
                    .toString()

    //set the numeric value to a number input
    document.getElementById("number").value = this.value.replace(/,/g, "")

}
</script>