<% content_for :title do "Past Bills in #{current_group.groupname}" end %> 
<div class="hero-unit" style="font-size: 120%; padding:20px">
  <center>
  <h1 style="font-size: 36px">Past bills in <%= current_group.groupname %></h1>
  <p>The following inactive bills were once in your group:</p>
  <p></center>
  <div class="row-fluid">
    <div class="span6">
  <% if @your_past_bills.length > 0 %>
    <h4><b>Bills you own:</b></h4>
    <% @your_past_bill_list_of_hashes.each do |bill_id, info| %>
      <b><%= Bill.find(bill_id).name %>:
      <%= link_to 'x', "/bills/#{bill_id}", :method => :delete, 'data-toggle'=>"tooltip", 'data-placement'=>"right", 'data-original-title'=>"Permanently Remove From History", :id =>"x_#{bill_id}" %>
      <% if Bill.find(bill_id).duedate.to_date >= Date.today %>
      <br><%= link_to 'Mark Unpaid', "/bills/unstash/#{bill_id}", :method => :put %>
      <% end %>
    </b><br>
  <script type="text/javascript">
    $("<%= '#x_'+bill_id.to_s %>").tooltip();
  </script>
      <% info.each do |id, amount| %>
        <% if User.find(id.to_i) == current_user %>
        You owe <%= number_to_currency(amount) %> due on <%= Bill.find(bill_id).duedate.strftime("%m/%d/%Y") %>
        <% else %>
        <%= User.find(id.to_i).name %> owes <%= number_to_currency(amount) %> due on <%= Bill.find(bill_id).duedate.strftime("%m/%d/%Y") %>
        <% end %>
        <br>
      <% end %>
    <% end %>
  <% end %>
  </p>
  </div>
    <div class="span6">
  <% if @their_past_bills.length > 0 %>
    <h4><b>Bills you don't own:</b></h4>
    <% @their_past_bill_list_of_hashes.each do |bill_id, info| %>
      <%= Bill.find(bill_id).name %>: <%= number_to_currency(info[current_user.id.to_i]) %> (of <%= number_to_currency(Bill.find(bill_id).price) %>) due on <%= Bill.find(bill_id).duedate.strftime("%m/%d/%Y")  %><br>
    <% end %>
  <% end %>
  </div>
    <p class="span12" style="margin-left:0px" align="center"><a href="/bills/new">Add another bill</a><br>
  <a href="/bills">View current bills</a></p>
</div>